# 什么值得买cookie

^https?:\/\/user-api\.smzdm\.com\/checkin$ url script-request-header https://raw.githubusercontent.com/yangchong99/QuantumultX/main/Scripts/smzdm_cookie.js

hostname = user-api.smzdm.com
